<div class="row">
    <div class="columns medium-3">
        <div id="js-ingredients" class="ingredients">
            <div class="ingredient">spinach</div>
            <div class="ingredient">carrots</div>
            <div class="ingredient">mango</div>
            <div class="ingredient">peach</div>
            <div class="ingredient">lemon</div>
        </div>
    </div>
    <div class="columns medium-6 medium-centered">
        <div id="js-container" class="container--tall">
        </div>
    </div>
</div>
<div class="row">
    <div class="columns">
        <%= link_to '', cart_path, class: 'fa fa-shopping-cart fa-5x'  %>
        <%= link_to '', root_path, class: 'fa fa-home fa-5x'  %>
    </div>
</div>
