<%= link_to menu_path do %>
<div class="row small-collapse">
    <div class="columns small-12 small-centered">      
        <div class="homepage__background" style="background-image:url('<%= image_path('background.jpg') %>')">
            <%= image_tag('level-up.png', class: 'homepage__logo') %>          
        </div>        
    </div>  
</div>  
<% end %>

