<div class="row">
    <div class="columns medium-6">
          <%= link_to 'guest', menu_path, class: "btn btn--large" %>
    </div>
    <div class="columns medium-6">
          <%= link_to 'login', menu_path, class: "btn btn--large" %>
    </div>  
</div>  

<div class="row">
    <div class="columns">
          <%= link_to 'sign up', menu_path, class: "btn" %>
    </div>
</div>

