<div class="row">
    <div class="columns medium-3">
        <div id="js-ingredients" class="list-group">
            <div class="ingredient">foo</div>
            <div class="ingredient">bar</div>
            <div class="ingredient">baz</div>
        </div>
    </div>
    <div class="columns medium-6 medium-centered">
        <div id="js-container" class="container--tall">
        </div>
    </div>
</div>
<div class="row">
    <div class="columns">
        <%= link_to '', cart_path, class: 'fa fa-shopping-cart fa-5x'  %>
        <%= link_to '', root_path, class: 'fa fa-home fa-5x'  %>
    </div>
</div>