<div class="row">
    <div class="columns medium-3">
  
  <!-- List with handle -->
<div id="sortTrue" class="list-group">
    <div class="list-group-item">foo</div>
    <div class="list-group-item">bar</div>
    <div class="list-group-item">baz</div>
</div>
  
<div class="row">
    <div class="columns">
        <%= link_to '', cart_path, class: 'fa fa-shopping-cart fa-5x'  %>
        <%= link_to '', root_path, class: 'fa fa-home fa-5x'  %>
    </div>
</div>