<div class="row">
    <div class="columns medium-3">
        <p>
            How to Order
        </p>
        <p>
            Click on any of the categories; if you'd like a beverage, please click juice or smoothie, or if you'd prefer something more solid, Acai or salad would probably be a better option. The Favorites setting lists 5 of the most popular items in their category.
        </p>
        <p>
            All "items" are added per oz. If you'd like more than 1 Oz of an item just drag it in multiple times to add up the quantity.
        </p>
        <p>
            By simply pressing on an item and dragging it out of the container, you may remove an item by the oz as well.
        </p>
        <p>
            All Preset Menu Items are able to be modified via drag and drop method.
        </p>
        <p>
            All descriptions are able to be viewed by clicking on an item selection.
        </p>
        <p>
            If you have any questions please never hesitate to speak to any of our friendly employees (:
        </p>
    </div>
    <div class="columns medium-9">
        <ul class="small-block-grid-1 medium-block-grid-2">
            <li>
                <%= link_to 'Juice', juice_path, class: "btn btn--large" %>
            </li>
            <li>
                <%= link_to 'Acai', acai_path, class: "btn btn--large" %>
            </li>
            <li>
                <%= link_to 'Salad', salad_path, class: "btn btn--large" %>        
            </li>
            <li>
                <%= link_to 'Smoothie', smoothie_path, class: "btn btn--large" %>
            </li>
        </ul>
        
        
        
        
    </div>
</div>