salad

<div class="row">
    <div class="columns">
        <%= link_to '', cart_path, class: 'fa fa-shopping-cart fa-5x'  %>
        <%= link_to '', root_path, class: 'fa fa-home fa-5x'  %>
    </div>
</div>