.ingredient {
    background-color: $color-secondary;
    height: 100px;
    width: 15%;
    text-align: center;
    line-height: 100px;
    color: black;
    border-radius: 5%;
    cursor: pointer;
    margin: 5px;
    display: inline-block;
}

.ingredient .active {
    width: 100%;
}