.side-menu__categories {
    width: 100%;
    padding: 40px 0;
    border: 1px solid black;
    background-color: $color-success;
    cursor: pointer;
    transition: all 0.5s ease;
    color: white;
    text-align: center;
    &:hover {
        background-color: darken($color-success, 20%);
    }
    @media #{$small-only}{
        font-size: 12px;
    }
}